<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
    </config>
    <apikeys>
        <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0Jk88V1HrkuB+gS1G9VXYgAAAAACAAAAAAAQZgAAAAEAACAAAAAh2qA5hnq6nLNCRumuuE2gFMthCBF6J6eSwPTy38aQqQAAAAAOgAAAAAIAACAAAAB8UEU3E33jk+DgKpa87Hml3BzlIJ3218lx80CTawqgwDAAAABaeV2GacTcTU+mNQ8Zd4ho8dMYqiXFGmwHBJpzy9nH+I3CtxWNYVxQuJZh3kiaNz5AAAAATcWd6ex4t/QTVQQ3ikKFuQL6PkjwpboOTLzZhcU5ks5CkxWbBbasmyFtcSSPuVqtIiXq2KuDQxYXPfVIflIEQA==" />
        <add key="https://nuget.smbsrc.net/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0Jk88V1HrkuB+gS1G9VXYgAAAAACAAAAAAAQZgAAAAEAACAAAADoKxz/B5bS8BsofhXuIxYAE0ZbeNCAd3nimTB4Rqu8dgAAAAAOgAAAAAIAACAAAAC+qm4HFB4KiuNSpGPNNFm9DWAOq+nKhRVzq5OR8Ueo2TAAAABjkxsGz8qBdPeVoS5bY9uRCoV9iB++tYYIo0CyYxwU4usPXM2uu+aueyMgCZgm2B1AAAAAaaz+ph9NujGrlOaVvOBvlSYvu3xM+HRFTiBNR0jvPGtPYfKE03uyEDAlO27O+tmV45pu9kENF68dDne+wjFZ4Q==" />
    </apikeys>
</configuration>