name: Run Tests

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  test:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: windows-latest
          - os: ubuntu-latest
          #- os: macos-latest

    name: Run tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1.7.2
      
      - name: Run Unit Tests
        run: |  
          cd tests/MatrixDotNet.UnitTesting
          dotnet test -c Release

      - name: Run Functional Tests
        run: |  
          cd tests/MatrixDotNet.FunctionalTesting
          dotnet test -c Release
