name: Run Tests

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest

    name: Run tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1.7.2
        with:
          source-url: https://nuget.pkg.github.com/toor1245/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}        
      
      - name: Run Unit Tests
        run: |  
          cd tests/MatrixDotNet.UnitTesting
          dotnet test -c Release

      - name: Run Functional Tests
        run: |  
          cd tests/MatrixDotNet.FunctionalTesting
          dotnet test -c Release
